[submodule "lib/xivModdingFramework"]
	path = lib/xivModdingFramework
	url = https://github.com/shandonb/xivModdingFramework.git
[submodule "lib/AvaloniaRender"]
	path = lib/AvaloniaRender
	url = https://github.com/shandonb/AvaloniaRender.git
