[submodule "lib/xivModdingFramework"]
	path = lib/xivModdingFramework
	url = https://github.com/TexTools/xivModdingFramework.git
[submodule "lib/AvaloniaRender"]
	path = lib/AvaloniaRender
	url = https://github.com/KillzXGaming/AvaloniaRender.git
